* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

header {
    height: 10px;
    width: 100%;
    background: orange;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sketchPad {
    height: 90vw;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div {
    background: blue;
    aspect-ratio: 1/1;
}

.block:hover {
    background-color: gold;
}

.mouseOver {
    background: green;
}